/* CONTEÚDO DE CSS REFERENTE AO DROPDOWN */
.btn-do-dropdown {
  background-color: #ededed;
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-size: 16px;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-do-dropdown:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fas {
  color: #0d4f4d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.conteudo-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  z-index: 1;
  right: 0;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
}

.conteudo-dropdown a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
}

.conteudo-dropdown a:last-child {
  border-top: 1px solid #e9ecef;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}